.social-footer {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 2rem;

  li {
    a {
      display: block;
      padding: 8px;
      border-radius: 50%;
      background-color: #333;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: #555;

        svg {
          width: 115%;
        }
      }
    }
  }
}
